body {
    color: #414141;
    background-color: #FFFFFF;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    color: #414141;
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: strong;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    border: 1px solid red;
}

p {
    text-align: left;
    font-family: "Arial", sans-serif;
    padding: 10px 0;
    border: 1px solid red;
}

article {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

article > div {
    width: 300px;
    height: 450px;
    justify-content: center;
    border: 1px solid red;
}

.left-side {
    color: white;
}

.left-side > h1 {
    color: white;
}

.left-side > h3 {
    color: white;
}

.about {
    color: white;
}

.menu-container {
    color: #FFF;
    background-color: rgb(5, 148, 158);
    padding: 20px 0;
    display: flex;
    justify-content: center;
    border: 1px solid red;
}

.menu {
    width: 900px;
    display: flex;
    font-family: "Arial";
    justify-content: space-around;
    border: 1px solid red;
}

.about-me {
    color: #414141;
    width: 900px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    border: 1px solid red;
}

.resume {
    display: flex;
    justify-content: center;
}

.footer-nav-links a:link {
    color: white;
}

.footer-nav-links a:visited {
    color: white;
}

.footer-nav-links-list-item {
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    color: #FFF;
}

.footer {
    clear: both;
    height: 50px;
    color: #FFF;
    background-color:  rgb(5, 148, 158);
    display: flex;
    justify-content: center;
}

.menu a:link {
    color: white;
    text-decoration: none;
}

.menu a:visited {
    color: white;
    text-decoration: none;
}

.menu a:hover {
    color: yellow;
    text-decoration: none;
}

.contact-information p {
    font-weight: 600;
}

.contact-information a:link {
    color:rgb(5, 148, 158);
}

.projects-grid div a {
    color: rgb(5, 148, 158);
    text-decoration: underline;
}

.projects-grid div h4 {
    color: rgb(5, 148, 158);
}

.projects-grid p {
    text-align: center;
}

a:link {
    color: rgb(5, 148, 158);
}